.buttons {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons button {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}